* {
    padding: 0;
    margin: 0%;
}
ul {
    list-style: none;
}
.list {
    width:1000px;
    height: 500px;
    margin:150px auto 0;

}
.list li {
    float: left;
    max-width: 650px;
    height: 300px;
    box-shadow: 0 0 10px #ccc;
}
input {
    opacity: 0;
    cursor: pointer;
    width: 100px;
    height: 500px;
    transition: 0.2s;
}
input:checked {
    width: 700px;
}
.list li:nth-child(1),
.list ul :nth-child(1) .bj {
    background: url(./img/1.jpg) no-repeat center/cover;
}
.list li:nth-child(2),
.list ul :nth-child(2) .bj {
    background: url(./img/2.jpg) no-repeat center/cover;
}
.list li:nth-child(3),
.list ul :nth-child(3) .bj {
    background: url(./img/3.jpg) no-repeat center/cover;
}
.list li:nth-child(4),
.list ul :nth-child(4) .bj {
    background: url(./img/4.jpg) no-repeat center/cover;
}

.list li .bj {
    opacity: 0;
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(1.5px);
}
input[name="swith"]:checked~.bj{
    opacity: 1;
}